/*reset css*/
@import url("./reset.css");

/*font-setting*/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Jua", sans-serif;
}

body {
  background-image: url("./assets//png/img_background.jpg");
  background-size: cover;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 8rem;
  padding: 0 4rem;

  background-image: linear-gradient(to right, #9890e3 0%, #b1f4cf 100%);
}

.header_title {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.img_header_logo {
  width: 5rem;
  height: 5rem;
}

.hamburger_button {
  width: 4rem;
  height: 4rem;
}

.ic_hamburger_button {
  width: 100%;
  height: 100%;
}

/* body */

.body_wrapper {
  display: flex;

  width: 100%;
}

/* aside */

.aside_wrapper {
  position: relative;

  width: 30rem;
  height: 100vh;
}

/* nav */

.nav_bar {
  position: fixed;
  top: 35%;
  left: 7.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 15rem;
  height: 33rem;
  padding: 3rem 0;

  border-radius: 2rem;

  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.nav_bar_title {
  font-size: 3rem;
  font-weight: 400;
}

.nav_bar_section_list {
  width: 11rem;
  height: 22rem;

  background-color: white;
}

.nav_bar_section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 25%;
}

.nav_button {
  width: 100%;
  height: 100%;

  font-size: 2rem;
}

.nav_button:hover {
  font-size: 2.2rem;

  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
